{{ define "content" -}}
<article class="post">
  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{- end }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1972061408650824"
    crossorigin="anonymous"></script>
<!-- banner-ad -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-1972061408650824"
    data-ad-slot="4473026343"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>